@charset "UTF-8";


.header{
    background-image: url(Pic/Cross.jpg);
    background-size:cover;
    background-position:center;
    height: 400px;
    position: relative;
}

.transparent-button{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 15px 15px;
    border: 2px solid white;
    border-radius: 20%/50%;
    cursor: pointer;
    font-size: 20px;
    overflow: hidden;
    z-index: 1;
}
.header-text h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}
.header-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.transparent-button:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

.top-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
    text-align: center;
}
.nav-element{
    float: right;
}

.top-nav a:link,
.top-nav a:visited,
.top-nav a:hover,
.top-nav a:active {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.top-nav li{
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    
}
a{
    text-decoration: none;
}
.nav-button{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 2px 10px;
    border: 2px solid white;
    border-radius: 20%/50%;
    cursor: pointer;
    font-size: 20px;
    overflow: hidden;
    z-index: 1;
    vertical-align: middle;
}

footer {
    text-align: left;
    background-color:black; /* Black background color for the footer */
    color: white; /* Text color for the footer */
    padding: 100px;
}
footer a{
    color: white;
    
}
.icon{
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    
    border-radius: 5px;
    display: inline-block;
    float: right;
}
h4{
    font-size: 20px;
}
footer a{
    font-size: 20px;
}
footer h6{
    font-size: 10px;
    margin-top: 10px;
    
}
footer ul{
    margin-top: 10px;
}
footer li{
    display: inline block;
    margin-right: 20px;
}
footer:last-child{
    margin-right: 0;
}
#lastUpdated {
    border: 1px solid white;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    
}
td a {
    color: blue;
}

h1{
    text-align: center;
    margin: 4rem 17em 3rem 17em;
    background-color: #fffcef;
    border-radius: 8px;
    background: rgba(204, 204, 204, 0.5);
    color: #fffcef;
  }

table,
td,
th {
    
    border-width: 1px;
  border: solid;
  border-collapse: collapse;
  font-size: 22px;
  margin: 0 10rem 5rem 10rem;
    text-align: center;
    background-color: #fffcef;
    background: rgba(204, 204, 204, 0.5);
    
}
